numpy
openai
requests==2.28.2
scikit-learn
packaging
ninja
transformers @ git+https://github.com/huggingface/transformers.git@main
peft
trl[peft]@git+https://github.com/kashif/trl.git@ipo
bitsandbytes
rank_bm25
evaluate
loralib
wandb
optimum
flash-attn
deepspeed
datasets
wandb
accelerate
dataclasses
tqdm